nav a:hover,
nav a:active {
  color: red;
  border-bottom: 2px solid red;
}

nav a.active {
  background-color: rgb(56, 55, 63);
  color: red;
}

.homeContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.homeImage {
  height: 750px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  background-color: white;
}

.card {
  background: #e0e0e0;
  display: inline-grid;
  padding: 0px;
  text-align: center;
  margin-left: 10px;
}
